<div class="btn-group w-100">
    {% include 'editor/helpers/buttons/dropdown_toggle.html' with auto_close='true' btn_color='dark rounded-0 p-2 py-1 justify-content-center' icon='three-dots' icon_color='' perm=True text='' text_css='' title='Manage Term' %}
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end shadow-lg">
        <li><h6 class="dropdown-header">Manage Term</h6></li>
        <li>
            {% url 'curriculum:program:term:course:create' program.id term.id as url %}
            {% include 'editor/helpers/buttons/dropdown.html' with control='offcanvas' full=False icon='plus-lg' icon_color='' next=False text='Add Course' title='Add Course' %}
        </li>
        <li>
            {% url 'curriculum:program:term:update' program.id term.id as url %}
            {% include 'editor/helpers/buttons/dropdown.html' with control='offcanvas' full=False icon='pencil' icon_color='' next=False text='Edit' title='Edit Term' %}
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            {% url 'curriculum:program:term:delete' program.id term.id as url %}
            {% include 'editor/helpers/buttons/dropdown.html' with control='modal' full=False icon='trash3' icon_color='danger' next=False text='Delete (Forever)' title='Delete Term (Forever)' %}
        </li>
    </ul>
</div>