{% load core_extras editor_extras %}
<div class="btn-group">
    {% define_if from_toc 'dark rounded-end' 'secondary rounded-0' as btn_color %}
    {% include 'editor/helpers/buttons/dropdown_toggle.html' with auto_close='true' icon='three-dots' icon_color='' perm=True text='' text_css='' title='Manage Program' %}
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end shadow-lg">
        <li><h6 class="dropdown-header">Manage Program</h6></li>
        <li>
            {% url 'curriculum:program:update' program.id as url %}
            {% include 'editor/helpers/buttons/dropdown.html' with control='offcanvas' full=False icon='pencil' icon_color='' next=False text='Edit' title='Edit Program' %}
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            {% url 'curriculum:program:delete' program.id as url %}
            {% include 'editor/helpers/buttons/dropdown.html' with control='modal' full=False icon='trash3' icon_color='danger' next=False text='Delete (Forever)' title='Delete Program (Forever)' %}
        </li>
    </ul>
</div>