{% load core_extras editor_extras json_loaders %}
<div class="btn-group btn-group-lg d-flex justify-content-end text-bg-{% if from_toc %}dark{% else %}secondary position-sticky rounded-0 top-14px z-25{% endif %}">
    {% if not from_toc %}
        <div class="btn-group me-auto">
            {% get_json_content 'curriculum' '{"program_id": "'|addstr:program.id|addstr:'"}' as json_content %}
            {% get_json_toc 'curriculum' '' as json_toc %}
            {% include 'core/buttons/load_regions.html' with btn_color='secondary rounded-0' icon='arrow-clockwise' icon_color='' json_stage=False json_profile=False json_title=False json_url=False perms=True post_icon=False text='' text_css='' title='Reload' size='1.5rem' %}
            <div class="p-2 ps-3">{{ program }}</div>
        </div>
    {% endif %}
    {% if not from_toc %}
        {% include 'curriculum/program/term/options/add.html' %}
        {% include 'curriculum/program/options/print.html' %}
    {% endif %}
    {% include 'curriculum/program/options/manage.html' %}
</div>