{% load core_extras json_loaders %}
{% if user|has_group:'instructors' %}
    {% get_json_content 'portfolio' '' as json_content %}
    {% get_json_profile '{"instructor_id": "'|addstr:user.id|addstr:'"}' as json_profile %}
    {% get_json_toc 'portfolio' '' as json_toc %}
    {% url 'portfolio:index' as json_url %}
    {% include 'core/buttons/load_regions.html' with btn_color='dark btn-darker justify-content-center border-0 h-4r w-4r' icon='briefcase' icon_color='' json_stage=False json_title='Portfolio Management' perms=True post_icon=False text='' text_css='' title='Portfolio Management' size='2rem' %}
{% endif %}