{% load core_extras viewer_extras %}
{% get_addendum master_syllabus bond.block as addendum %}
<div id="{{ block_name|lower_snake }}" class="card bg-dark shadow-lg rounded-0 h{{ bond.block.printableblock.print_heading }}-border-dark{% if addendum %} border-warning{% else %} border-0{% endif %}">
    {% if addendum %}{% include 'viewer/addendum/button.html' %}{% endif %}
    <h{{ bond.block.printableblock.print_heading }} class="card-header border-0 rounded-0 pt-5 px-5 text-bg-dark">
        {{ block_name }}
    </h{{ bond.block.printableblock.print_heading }}>
    <div class="card-body px-5 pb-5 text-bg-dark">
        {% if bond_list %}
            {% for nested_bond in bond_list %}
                {% include 'viewer/helpers/block.html' with bond=nested_bond render_mode='view' %}
            {% endfor %}
        {% else %}
            {% include 'viewer/helpers/block.html' with render_mode='view' %}
        {% endif %}
    </div>
    <div class="card-footer p-0 border-0">
        <button type="button" class="scroll-top btn btn-{% if addendum %}warning{% else %}secondary{% endif %} d-flex align-items-center rounded-0 w-100"
                data-target=".syllabus-content">
            {% include 'core/buttons/content.html' with icon='arrow-up' icon_color='' text='Back to Top' text_css='ps-3' size='1.5rem' %}
        </button>
    </div>
</div>