{% extends 'viewer/interactive/content/interactive.html' %}
{% load core_extras viewer_extras %}

{% block interactive_content %}
    {% if master_syllabus.prohibit_backtracking %}
        {% include 'core/helpers/alert.html' with alert_css='m-0' icon='info-square' text='<strong>NOTE</strong>: your instructor has prohibited backtracking for this interactive syllabus. As a result, you are not permitted to use the <strong>Table of Contents</strong> to navigate this syllabus. Once you have completed this activity you will be able to access the entire syllabus.' text_css='ps-3' type='info' %}
    {% endif %}
    <div id="{{ bond_progress.bond.block.name|lower_snake }}" class="card bg-dark shadow-lg border-0 rounded-0 h{{ bond_progress.bond.block.printableblock.print_heading }}-border-dark">
        {% include 'viewer/interactive/card/progress.html' %}
        {% if not master_syllabus.prohibit_backtracking %}{% include 'viewer/interactive/buttons/previous.html' %}{% endif %}
        <h{{ bond_progress.bond.block.printableblock.print_heading }} class="card-header border-0 rounded-0 pt-5 px-5 text-bg-dark">
            {{ bond_progress.bond.block.name }}
        </h{{ bond_progress.bond.block.printableblock.print_heading }}>
        <div class="card-body px-5 pb-5 text-bg-dark">
            {% include 'viewer/helpers/block.html' with bond=bond_progress.bond render_mode='view' %}
        </div>
        {% include 'viewer/interactive/buttons/next.html' with next_text='Next' %}
    </div>
{% endblock %}