<div class="alert alert-info m-0" role="alert">
    <h3 class="alert-heading px-3 pt-3">Syllabus Review Complete</h3>
    <p class="px-3">This syllabus review is complete. Feel free to click any block within the Table of Contents to
        scroll to it. Additionally, you can use the <strong>Print</strong> option within the Table of Contents
        (directly under your instructor's profile information) to save or print this syllabus. Remember, if you are on
        mobile, you must click the button in the top right corner to view the Table of Contents.</p>
</div>