{% load core_extras json_loaders viewer_extras %}
<div class="d-grid align-content-start gap-3">
    {% if visible or section.instructor == user %}
        <div id="stage_post" data-content="{% get_json_content 'traditional' '{"course_code": "'|addstr:section.course.course_code|addstr:'", "section_code": "'|addstr:section.section_code|addstr:'", "term_code": "'|addstr:section.term.term_code|addstr:'"}' %}"></div>
        {% if not visible %}
            <div class="px-3">{% include 'viewer/messages/unavailable_instructor.html' %}</div>
        {% endif %}
        {% for master_bond in master_bonds %}
            <div id="segment-container-{{ master_bond.segment.id }}"
                 class="{% if forloop.first %}content-container-first d-grid{% else %}content-containers d-none{% endif %} gap-3 px-3{% if forloop.last %} pb-3{% endif %}"
                 data-name="{{ master_bond.segment.name }}"></div>
        {% endfor %}
    {% else %}
        <div class="px-3 mt-3">{% include 'viewer/messages/unavailable_student.html' %}</div>
    {% endif %}
</div>