{% load core_extras viewer_extras %}
{% if visible or user|has_group:'admins' or user|has_group:'instructors' %}
    <li class="d-none d-md-block">
        {% url 'viewer:print:confirm' section.course.course_code|lower section.section_code|lower section.term.term_code|lower as print_confirm_url %}
        {% url 'viewer:print:index' section.course.course_code|lower section.section_code|lower section.term.term_code|lower as print_url %}
        {% if print_modal %}
            <button type="button" class="print-btn btn btn-dark text-white d-flex align-items-center w-100"
                    data-url="{{ print_confirm_url }}" title="Print" data-control="modal"
                    aria-controls="modal-generic">
                {% include 'core/buttons/content.html' with icon='printer' icon_color='' text='Print' text_css='ps-3' size='1.5rem' %}
            </button>
        {% else %}
            <a href="{{ print_url }}" target="_blank" class="btn btn-dark text-white d-flex align-items-center">
                {% include 'core/buttons/content.html' with icon='printer' icon_color='' text='Print' text_css='ps-3' size='1.5rem' %}
            </a>
        {% endif %}
    </li>
    <li><hr class="text-white"></li>
    {% for master_bond in master_bonds %}
        {% get_bonds master_bond section as bonds %}
        {% include 'viewer/traditional/blocks.html' %}
        <li><hr></li>
    {% endfor %}
    <li class="d-none d-lg-block">
        <button type="button" class="scroll-top btn btn-dark text-white d-flex align-items-center w-100"
                data-target=".syllabus-toc">
            {% include 'core/buttons/content.html' with icon='arrow-up' icon_color='' text='Back to Top' text_css='ps-3' size='1.5rem' %}
        </button>
    </li>
{% endif %}